__pycache__/
*.py[cod]
*.pyo


venv/
env/


.vscode/
.idea/


*.log
.env


reports/
pytest/reports/
pytest/playwright-report/
pytest/test-results/
playwright-report/
test-results/


allure-results/
allure-report/


node_modules/


jenkins_home/
